.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
    margin: 12px;
}
.main-container, h2, p{
    text-align: center;
}
.suscribe-container{
    text-align: center;
    padding: 10px;
}